

<!-- <button class='btn-xlarge btn-primary', data-toggle="modal" href='#modal-id1'>Add item</button> -->
<!-- <a href="/logout"><button method="destroy" class='btn-xlarge btn-primary'>Logout</button></a> -->




	<% @categories.each do |c| %>
	  <% total = 0 %>
	  <h2><%= c.name %></h2>

	  <% @items.where("category_id = "+c.id.to_s).each do |i| %>
	    <% total += i.amount %>
	  <% end %>
	  <p>Total: <%= number_to_currency(total) %></p>
	<% end %>